.tweet-show {
  width: 100vw;
  background-color: rgba(236, 233, 233, 0.603);
  display: flex;
}

.tweet-show-main {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: fantasy;
  margin-top: 100px;
}

.tweet-show-info {
  height: 300px;
  width: 450px;
  margin-left: 20px;
}

.tweet-show-image {
  height: 300px;
  width: 450px;
}

.show-edit-destroy {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.show-edit:hover {
  color: white;
}

.show-delete:hover {
  color: white;
}

.tweet-show-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.719);
  padding: 10px;
}

.show-title {
  height: 30px;
  width: 280px;
  font-size: 20px;
  border-bottom: solid 1px black;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.show-text {
  height: 225px;
  width: 400px;
  font-size: 18px;
  text-align: center;
  overflow: scroll;
}

.tweet-review {
  background: rgba(102, 102, 102, 0.623);
  height: 35vh;
  width: 950px;
  margin: 0 auto;
}

.review-main {
  display: flex;
  margin-left: 30px;
  padding-top: 20px;
}

.review-text {
  height: 30px;
  width: 300px;
  font-size: 18px;
  background: rgb(243, 241, 241);
  resize: none;
  border: none;
  margin-right: 10px;
}

.review-btn {
  height: 33px;
  width: 60px;
  background: #FF9999	;
}

.review-btn:hover {
  color: aliceblue;
  background: grey;
}

.reviews {
  height: 25vh;
  width: 900px;
  margin: 20px auto;
  overflow: scroll;
}

.re-review {
  display: flex;
  font-family: fantasy;
}

.re-review-user {
  width: 50px;
  font-size: 23px;
  margin-right: 30px;
}

.re-review-text {
  font-size: 20px;
}

.tweet-show-hide {
  display: none;
}


@media (max-width: 599px) {
  .tweet-show {
    height: 100vh;
    width: 100vw;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/22/23/15/abstract-1851115_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
  }

  .tweet-index-img {
    display: none;
  }

  .tweet-show-hide {
    margin-top: 15vh;
    display: block;
    height: 80vh;
    width: 100vw;
    overflow: scroll;
    position: absolute;
    left: 0;
  }
  
  .tweet-show-main {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

  .tweet-show-info {
    height: 30vh;
    width: 100%;
    margin: 0;
  }
  
  .tweet-show-image {
    height: 90%;
    width: 75%;
    margin: 0 auto;
  }

  .tweet-show-image1 {
    height: 100%;
    width: 100%;
  }
  
  .show-edit-destroy {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 15px;
  }

  .tweet-show-info2 {
    height: 40vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
  }
  
  .show-title {
    height: 5vh;
    width: 100%;
    font-size: 20px;
  }
  
  .show-text {
    height: 35vh;
    width: 100%;
    font-size: 18px;
    overflow: scroll;
  }
  
  .tweet-review {
    width: 90%;
    margin: 130px auto 0;   
  }
  
  .review-main {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0 auto;
  }
  
  .review-text {
    height: 30px;
    width: 200px;
    font-size: 20px;
  }
  
  .review-btn {
    height: 33px;
    width: 60px;
    background: none;
  }
  
  .review-btn:hover {
    color: aliceblue;
    background: grey;
  }
  
  .reviews {
    width: 100%;
    margin: 10px auto;
    overflow: scroll;
    padding: 10px;
  }

  .re-review {
    display: flex;
    font-family: fantasy;
  }
  
  .re-review-user {
    width: 50px;
    font-size: 20px;
    margin-right: 30px;
  }
  
  .re-review-text {
    font-size: 18px;
  }
  
  
}