<%= render "shared/header" %>

  <div class = "top-main">
    <div class = "main-title">IT'S A SMALL WORLD!!
    </div>
    <div class = "message">今日はどこを旅しよう
    </div>
  </div>

<%= render "shared/footer" %> 