<div class= "top">
  <div class= "title">
    <span><%=link_to "IT'S A SMALL WORLD", events_path, class: "top-name"%></span>
  </div>
  <div class= "top-in">
    <div class= "top-login-btn">
      <%=link_to "welcome back", new_user_session_path, class:"top-ins" %>
    </div>
    <div class= "top-signup-btn">
      <%=link_to "go to a new world", new_user_registration_path, class:"top-ins" %>
    </div>
    <div class= "top-info-btn">
      <%=link_to "about us", "#", class:"top-ins" %>
    </div>
  </div>
</div>