<div class= "top">
  <div class= "title">
    <span><%=link_to "IT'S A SMALL WORLD", events_path, class: "top-name"%></span>
  </div>
  <div class= "top-in">
    <div class= "top-login-btn">
      <%=link_to "welcome back", new_user_session_path, class:"top-ins" %>
    </div>
    <div class= "top-signup-btn">
      <%=link_to "go to a new world", new_user_registration_path, class:"top-ins" %>
    </div>
  </div>
  <div class= "top-info1">
    About Small World
  </div>
  <div class= "top-infos">
    <div class= "top-info2">
      Do you like Japanese culture?<br><br>
      Meet new people in Small World!
    </div>
    <div class= "top-info3">
      英語が話せるようになりたい？ 海外がすき？<br><br>
      Small Worldでいろんな人に出会おう！
    </div>
  </div>
</div>