<%= render "shared/header" %>

<div class="event-category">
  <div class="titles">その他 / Others
  </div>
  <ul class="events-list">
    <li class="lists">
      <%=link_to "イベント名", "#", method: :get%>
    </li>
  </ul>
</div>

<%= render "shared/footer"%>