.event-category{
  background-color: #99CCFF;
  height: 100vh;
  width: 100vw;
}

.titles{
  font-size: 20px;
}

.events-list{
  margin: 10px 0 0 30px;
}

.lists{
  border: 1px double black;
  height: 60px;
  width: 400px;  
}

.list-name{
  padding: 5px 0 0 20px;
}

.list-time{
  padding-left: 30px;
}