.events-main{
  background-color:#99CCFF;
  height: 100vh;
  width: 100vw;
}

p{
  text-align: center;
}

.new-event{
  font-size: 20px;
}

.events{
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
}

.events-l{
}

.events-c{
}

.events-h{
}

.events-o{
}