.event-new {
  height: 100vh;
  width: 100vw;
  background-color: rgba(236, 233, 233, 0.603);
  display: flex;
}

.event-information {
  height: 550px;
  width: 800px;
  background: rgba(5, 5, 5, 0.514);
  box-shadow: 8px 8px 5px #666666;
  margin: 200px 0 0 130px;
  overflow: scroll;
}

.new-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: fantasy;
  font-weight: bolder;
}

.new-event-title {
  font-size: 50px;
  margin-bottom: 30px;
  color: rgba(240, 255, 255, 0.664);
}

.event-a {
  margin-bottom: 20px;
}

.input-id {
  height: 40px;
  width: 595px;
  resize: none;
  font-size: 20px;
  font-family: fantasy;
  padding-top: 5px;
}

.form-controll {
  height: 40px;
  width: 295px;
  font-size: 20px;
  font-family: fantasy;
}

.input {
  height: 40px;
  width: 595px;
  resize: none;
  font-size: 20px;
  padding-top: 15px;
}

.input-ids {
  height: 50px;
  width: 139px;
  resize: none;
  font-size: 20px;
  font-family: fantasy;
  padding-top: 5px;
}

.input-ids-a {
  height: 50px;
  width: 85px;
  resize: none;
  font-size: 20px;
  font-family: fantasy;
  padding-top: 5px;
}

.input-info {
  height: 300px;
  width: 595px;
  resize: none;
  font-size: 20px;
  padding-top: 15px;
  overflow: scroll;
}

.event-btn {
  height: 40px;
  width: 400px;
  font-size: 20px;
  font-family: fantasy;
  margin: 20px auto;
}

.event-btn:hover {
  color: #99CCFF;
  background: rgba(0, 0, 0, 0.747);
}

.new-hide {
  display: none;
}


 /* スマホ表示時 */
@media (max-width: 599px) {
  .event-new {
    height: 100vh;
    width: 100vw;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/15/13/road-trip-1246530_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .new-hide {
    display: block;
  }

  .event-information {
    height: 70vh;
    width: 100%;
    background: rgba(5, 5, 5, 0.514);
    box-shadow: 8px 8px 5px #666666;
    overflow: scroll;
    margin: 25vh 0 0 0;
    position: absolute;
    left: 0;
  }
  
  .new-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-family: fantasy;
    font-weight: bolder;
  }
  
  .new-event-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(240, 255, 255, 0.664);
  }
  
  .event-a {
    margin-bottom: 10px;
  }
  
  .input-id {
    height: 35px;
    width: 300px;
    font-size: 15px;
  }

  .form-controll {
    height: 35px;
    width: 150px;
    font-size: 15px;
    font-family: fantasy;
  }
  
  .input {
    height: 35px;
    width: 300px;
    font-size: 15px;
    padding-top: 5px;
  }
  
  .input-ids {
    height: 35px;
    width: 65px;
    font-size: 10px;
    padding-top: 5px;
  }
  
  .input-ids-a {
    height: 35px;
    width: 45px;
    resize: none;
    font-size: 10px;
    padding-top: 5px;
  }
  
  .input-info {
    height: 300px;
    width: 300px;
    resize: none;
    font-size: 15px;
    padding-top: 15px;
    overflow: scroll;
  }
  
  .event-btn {
    height: 30px;
    width: 300px;
    font-size: 15px;
    margin: 5px auto;
  }
  
}