.event-show {
  height: 100vh;
  width: 100vw;
  background: rgba(236, 233, 233, 0.603);
  display: flex;
}

.show-main {
  height: 550px;
  width: 800px;
  background: rgba(5, 5, 5, 0.514);
  box-shadow: 8px 8px 5px #666666;
  margin: 200px 0 0 130px;
  overflow: scroll;
}

.event-show-info {
  font-family: monospace;
  padding: 20px;
  text-align: center;
}

.show-name {
  font-size: 35px;
  margin-bottom: 15px;
}

.show-time {
  font-size: 23px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.show-date {
  margin-right: 30px;
}

.show-place {
  font-size: 25px;
  margin-bottom: 15px;
}

.show-user-like {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.show-user {
  margin-right: 30px;
}

.show-image {
  height: 100%;
  width: 100%;
  margin: 15px auto;
}

.show-info {
  height: 300px;
  width: 650px;
  background: rgba(255, 255, 255, 0.733);
  font-size: 20px;
  word-break : break-all;
  overflow: scroll;
  padding: 5px 20px;
  margin: 20px auto;
}

.edit-delete {
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.edit-delete-btn {
  height: 30px;
  width: 80px;
  color: #666666;
  border: 1px solid grey;
}

.edit-delete-btn:hover {
  color: #99CCFF;
  background: rgba(0, 0, 0, 0.747);
}

.show-hide {
  display: none;
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .event-show {
    height: 100vh;
    width: 100vw;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/15/13/road-trip-1246530_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .show-hide {
    display: block;
  }

  .show-main {
    height: 70vh;
    width: 100%;
    margin: 20vh 0 0 0;
    overflow: scroll;
    position: absolute;
    left: 0;
  }
  
  .show-name {
    font-size: 25px;
  }
  
  .show-time {
    font-size: 23px;
  }
  
  .show-place {
    font-size: 23px;
  }

  .show-user-like {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  
  .show-user {
    margin-right: 20px;
  }
  
  
  .show-image {
    height: 20%;
    width: 90%;
  }
  
  .show-info {
    height: 50vh;
    width: 70vw;
    font-size: 18px;
    margin: 20px auto;
  }
  
  .edit-delete {
    font-size: 15px;
    margin-top: 15px;
  }

  .edit-delete-btn {
    height: 20px;
  }
  
}