.signup {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_1280.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  display: flex;
}

.signup-left {
  width: 30vw;
}

.registration-title {
  margin-top: 20px;
  padding-left: 40px;
  height: 70px;
  width: 500px;
  background-color: #dbdbd5d8;
  font-size: 40px;
  font-family: fantasy;
}

.signup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.signup-info {
  margin-left: 20vw ;
}

.form-group {
  margin-top: 30px;
}

.input-default {
  height: 50px;
  width: 300px;
  padding: 5px;
  background: whitesmoke;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.input-default-hash {
  height: 50px;
  width: 300px;
  padding: 5px;
  background: whitesmoke;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.register-btn {
  margin-top: 20px;
}

.register-botton {
  height: 50px;
  width: 300px;
  padding: 5px;
  background: #99FFCC;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.register-botton:hover {
  box-shadow: none;
  color: white;
  background: #99CCFF;
  font-weight: bolder;
}

.back-to-top-btn {
  margin: 5vh 0 0 20vw ;
  height: 40px;
  width: 80px;
  background: #979292cc;
  text-align: center;
  padding: 7px;
}

.back-to-top {
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.back-to-top-btn:hover {
  box-shadow: none;
  background: #99CCFF;
}


 /* スマホ表示時 */
@media (max-width: 599px) {
  .signup {
    flex-direction: column;
  }
  
  .registration-title {
    top: 20px;
    height: 40px;
    width: 450px;
    font-size: 30px;
  } 
  
  .signup-right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: scroll;
  }
  
  .signup-info {
    margin: 0 auto ;
  }
  
  .form-group {
    margin-top: 40px;
  }
  
  .input-default {
    height: 40px;
    width: 250px;
    font-size: 15px;
  }
  
  .input-default-hash {
    height: 40px;
    width: 250px;
    font-size: 15px;
  }
  
  .register-btn {
    margin-top: 40px;
  }
  
  .register-botton {
    height: 40px;
    width: 250px;
    font-size: 15px;
  }
  
  .back-to-top-btn {
    margin: 60px auto 0;
    height: 40px;
    width: 60px;
    padding: 7px;
  }
  
  .back-to-top {
    font-size: 10px;
  }
  
}
