.signin {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/15/30/shoes-1246691_1280.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.signin-info {
  padding-top: 20vh;
  margin-left: 10vw;
}

.form-group-2 {
  margin-bottom: 70px;
}


.back-to-top-2-btn {
  height: 40px;
  width: 80px;
  background: #979292cc;
  text-align: center;
  padding: 7px;
  margin: 25vh 0 0 85vw;
}

.back-to-top-2 {
  color: black;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.back-to-top-2-btn:hover {
  box-shadow: none;
  background: #99CCFF;
}


 /* スマホ表示時 */
 @media (max-width: 599px) {

  .signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    position: relative;
  }
  
  .signin-info {
    position: absolute;
    padding-top: 8vh;
    margin: 5vh auto;
  }
  
  .form-group-2 {
    margin-bottom: 45px;
  }
  
  .back-to-top-2-btn {
    height: 40px;
    width: 80px;
    text-align: center;
    padding: 7px;
    position: absolute;
    margin: 70vh 0 0 0;

  }
  
  .back-to-top-2 {
    color: black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
  }
  
  .back-to-top-2-btn:hover {
    box-shadow: none;
    background: #99CCFF;
  }
}