.user-show {
  width: 100vw;
  background-color: rgb(7, 7, 7);
}

.user-show-main {
  display: flex;
}

.user-show-info {
  height: 260px;
  width: 280px;
  color: white;
  border: 7px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 60px;
}

.user-name {
  font-size: 38px;
  font-family: serif;
}

.edit-user {
  height: 35px;
  width: 70px;
  font-size: 20px;
  font-family: serif;
  text-align: center;
}

.edit-user:hover {
  color: rgb(109, 188, 212);
}

.back-to-event {
  height: 35px;
  width: 70px;
  font-size: 20px;
  font-family: serif;
  text-align: center;
}

.back-to-event:hover {
  color: rgb(114, 212, 230);
}

.user-show-img {
  background-image: url(https://cdn.pixabay.com/photo/2018/01/30/10/23/women-3118387_1280.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.events-scroll {
  display: flex;
  flex-direction: column;
}

.user-events-title {
  margin: 30px 0 0 30px;
  font-size: 30px;
  font-family: monospace;
  border-bottom: solid 2px black;
  width: 85%;
}

.user-events {
  height: 160px;
  width: 62vw;
  background: rgba(216, 219, 213, 0.678);
  margin: 20px 0 0 60px;
  overflow: scroll;
  white-space: nowrap;
}

.user-event {
  height: 130px;
  width: 190px;
  background: rgba(94, 90, 90, 0.425);
  margin: 15px 15px 0 15px;
  font-size: 15px;
  font-family: monospace;
  display: inline-block;
  overflow: scroll;
}

.user-event-name {
  font-size: 17px;
  margin: 10px 0 0 10px;
}

.user-event-time {
  margin: 10px 0 0 20px;
}

.user-event-liked {
  margin: 10px 0 0 100px;
}


.user-event:hover {
  color: white;
  background: grey;
}

.user-show-hide {
  display: none;
}




@media (max-width: 599px) {
  .user-show {
    position: relative;
  }
  
  .user-show-info {
    display: none;
  }

  .user-show-main {
    overflow: scroll;
  }
  
  .user-events {
    height: 22vh;
    width: 77vw;
    margin: 15px auto;
  }
  
  .user-event {
    height: 80%;
    width: 80%;
  }

  .user-show-hide {
    height: 20vh;
    width: 60%;
    color: black;
    background: rgba(255, 255, 255, 0.671);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
  }


}