.user-show {
  width: 100vw;
  background-color: rgba(236, 233, 233, 0.603);
  position: relative;
}

.user-show-title {
  transform: skewY(-6deg);
  font-size: 80px;
  font-weight: bolder;
  font-family: fantasy;
  position: absolute;
  top: 8vh;
  left: 1vw;
}

.user-show-main {
  display: flex;
}

.user-show-info {
  height: 260px;
  width: 280px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 60px;
}

.user-name {
  font-size: 38px;
  font-family: serif;
}

.edit-user {
  height: 35px;
  width: 70px;
  font-size: 20px;
  font-family: serif;
  text-align: center;
}

.edit-user:hover {
  color: white;
  background: black;
}

.back-to-event {
  height: 35px;
  width: 70px;
  font-size: 20px;
  font-family: serif;
  text-align: center;
}

.back-to-event:hover {
  color: white;
  background: black;
}

.user-show-img {
  background-image: url(../girl.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.events-scroll {
  display: flex;
  flex-direction: column;
}

.user-events {
  height: 160px;
  width: 63vw;
  background: rgba(58, 58, 56, 0.932);
  margin: 40px 0 0 65px;
  overflow: scroll;
  white-space: nowrap;
}

.user-event {
  height: 120px;
  width: 180px;
  background: rgba(245, 230, 230, 0.425);
  margin: 0 20px;
  margin-top: 18px;
  font-size: 15px;
  font-family: monospace;
  display: inline-block;
  overflow: scroll;
}

.user-event-name {
  font-size: 18px;
  margin: 10px 0 0 15px;
}

.user-event-time {
  margin: 10px 0 0 20px;
}

.user-event-liked {
  margin: 10px 0 0 100px;
}


.user-event:hover {
  color: white;
  background: grey;
}

